/* 
Fonts
-> Fira Sans, Fira Code
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sans {
  font-family: Fira Sans, sans-serif;
}

.mono {
  font-family: Fira Code, monospace;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 800;
}

/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Colors
-> catppuccin mocha
-> https://github.com/catppuccin/catppuccin
*/
:root {
  --bg0: #1e1e2e;
  --bg-dark: #181825;
  --bg-darker: #11111b;

  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;

  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext2: #a6adc8; 

  --text-light: #4c4f69;
  --subtext1-light: #5c5f77;
  --subtext2-light: #6c6f85;

  --rose: #f5e0dc;
  --rose-bold: #dc8a78;
  --flamingo: #f2cdcd;
  --flamingo-bold: #dd7878;
  --pink: #f5c2e7;
  --pink-bold: #ea76cb;
  --mauve: #cba6f7;
  --mauve-bold: #8839ef;
  --red: #f38ba8;
  --red-bold: #d20f39;
  --maroon: #eba0ac;
  --maroon-bold: #e64553;
  --peach: #fab387;
  --peach-bold: #fe640b;
  --yellow: #f9e2af;
  --yellow-bold: #df8e1d;
  --green: #a6e3a1;
  --green-bold: #40a02b;
  --teal: #94e2d5;
  --teal-bold: #179299;
  --sky: #89dceb;
  --sky-bold: #04a5e5;
  --sapphire: #74c7ec;
  --sapphire-bold: #209fb5;
  --blue: #89b4fa;
  --blue-bold: #1e66f5;
  --lavender: #b4befe;
  --lavender-bold: #7287fd;
}

/* bg colors */
.bg-rose {
  background-color: var(--rose);
}

.bg-rose-bold {
  background-color: var(--rose-bold);
}

.bg-flamingo {
  background-color: var(--flamingo);
}

.bg-flamingo-bold {
  background-color: var(--flamingo-bold);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-pink-bold {
  background-color: var(--pink-bold);
}

.bg-mauve {
  background-color: var(--mauve);
}

.bg-mauve-bold {
  background-color: var(--mauve-bold);
}

.bg-red {
  background-color: var(--red);
}

.bg-red-bold {
  background-color: var(--red-bold);
}

.bg-maroon {
  background-color: var(--maroon);
}

.bg-maroon-bold {
  background-color: var(--maroon-bold);
}

.bg-peach {
  background-color: var(--peach);
}

.bg-peach-bold {
  background-color: var(--peach-bold);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-yellow-bold {
  background-color: var(--yellow-bold);
}

.bg-green {
  background-color: var(--green);
}

.bg-green-bold {
  background-color: var(--green-bold);
}

.bg-teal {
  background-color: var(--teal);
}

.bg-teal-bold {
  background-color: var(--teal-bold);
}

.bg-sky {
  background-color: var(--sky);
}

.bg-sky-bold {
  background-color: var(--sky-bold);
}

.bg-sapphire {
  background-color: var(--sapphire);
}

.bg-sapphire-bold {
  background-color: var(--sapphire-bold);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-bold {
  background-color: var(--blue-bold);
}

.bg-lavender {
  background-color: var(--lavender);
}

.bg-lavender-bold {
  background-color: var(--lavender-bold);
}

/* tags */